src/main/mule/DB-select.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="DB-selectFlow" doc:id="2f0313a3-981a-491a-a016-29389a82bbc6" >
		<db:select doc:name="Select" doc:id="15d376b7-395b-42fa-ac88-bfd7ab7b7645" config-ref="Azure-Database_Config">
			<db:sql ><![CDATA[SELECT Name FROM test
WHERE PersonID = :pid]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'pid': attributes.queryParams.PersonID
}]]]></db:input-parameters>
		</db:select>
	</flow>
</mule>
